
/****************************************************************************
	IE9
****************************************************************************/
.ie9 nav {display: block !important;;}
.ie9 .responsive {display: none !important;; margin-bottom: 15px;}

.ie9 .adver-banner  { width: 97%;}

.ie9 .slider .slide .heading-a{ display: none; }
.ie9 .slider .slide .heading-b { display: none; }
.ie9 .slider .slide .heading-c { display: none; }

.ie9 .flexslider {width: 84%; }


.ie9 .post {margin: 0 16px 30px; width:261px;}
.ie9 .post.last {margin: 0 16px 30px; width:261px;}
.ie9 .bottom-section p { width: 198px;}



.ie9 .big-post {width: 84%; }
.ie9 .big-post figure { width: 45%;float-left }
.ie9 .big-post > div { width: 53%;margin: 0 -9px 20px;}

.ie9 .elastislide-carousel ul li {margin: 0 39px 0px 0px !important;}

.ie9 .sidebar {width: 245px;margin: 0 20px 1px -89px;;}
.ie9 .tab li p { width: 152px; }
.ie9 #accordion li p  { width: 152px; }
.ie9 .clients a {width: 113px;}

.ie9 .title-bar  {width: 88%; }

.ie9 .pagination {width: 549px; margin: 0 auto;}

.ie9 .title-bar p{font-size: 15px;}

.ie9 .navigation {width: 894px; }
.ie9 .navigation li { margin-right: 5px; margin-bottom: 5px;}
.ie9 .navigation li a {  padding: 6px 8px; font-size: 12px }

.ie9 .portfolio-wrap .container { width: 894px; margin: 0 auto;  }
.ie9 .portfolio-wrap.two-colm .protfolio { width: 280px;height: 248px; margin: 0 10px 20px;}
.ie9 .portfolio-wrap.three-colm .protfolio { width: 205px;height: 248px; margin: 0 10px 20px;}
.ie9 .protfolio { width: 430px; height: 270px; margin: 0 10px 20px;}

.ie9 .single-post  {width: 616px;}

.ie9 .comment li div  { width:85%;  }
.ie9 .comment {width: 616px;}
.ie9 .comment li ul { margin-left: 30px; }
.ie9 .comment li ul li div { width: 82%; }
.ie9 .comment li ul li ul li div { width: 82%; }

.ie9 .comment-form {width: 600px;}
.ie9 .comment-form fieldset {width: 216px;}
.ie9 .comment-form input[type="text"] {  width: 92%; }
.ie9 .comment-form textarea { width: 56%; }

.ie9 .slider-wrapper {width: 97%;}
.ie9 .news-scrol {width: 97%;}
.ie9 #map_canvas {width: 97%;}

.ie9 .services-wrap > div {width:219px;float: left; margin: 0 10px 15px;}
.ie9 .client-wrapper > div {width: 297px; float: left; margin: 0 10px 15px;}

.ie9 .recent figure { width: 100%; height: 130px; float: none;}
.ie9 .recent div { width:100%; float: none; margin-top: 15px;}
.ie9 .heading {font-size: 14px; font-weight: bold; }

.ie9 .our-client ul li{  width: 49.5%; float: left;}
.ie9 .our-client ul li img {vertical-align: middle;}

.ie9 .carousel-two .elastislide-horizontal nav span.elastislide-next {top: -247px !important; }
.ie9 .carousel-two .elastislide-horizontal nav span {top: -247px  !important;}

.ie9 .text  {width: 597px; }

/****************************************************************************
	IE8
****************************************************************************/

.ie8 nav {display: block !important;;}
.ie8 .responsive {display: none !important;; margin-bottom: 15px;}

.ie8 .adver-banner  { width: 97%;}

.ie8 .slider .slide .heading-a{ display: none; }
.ie8 .slider .slide .heading-b { display: none; }
.ie8 .slider .slide .heading-c { display: none; }

.ie8 .flexslider {width: 84%; }


.ie8 .post {margin: 0 16px 30px; width:261px;}
.ie8 .post.last {margin: 0 16px 30px; width:261px;}
.ie8 .bottom-section p { width: 198px;}



.ie8 .big-post {width: 84%; }
.ie8 .big-post figure { width: 45%;float-left }
.ie8 .big-post > div { width: 53%;margin: 0 -9px 20px;}

.ie8 .elastislide-carousel ul li {margin: 0 39px 0px 0px !important;}

.ie8 .sidebar {width: 245px;margin: 0 20px 1px -89px;;}
.ie8 .tab li p { width: 152px; }
.ie8 #accordion li p  { width: 152px; }
.ie8 .clients a {width: 113px;}

.ie8 .title-bar  {width: 88%; }

.ie8 .pagination {width: 549px; margin: 0 auto;}

.ie8 .title-bar p{font-size: 15px;}

.ie8 .navigation {width: 894px; }
.ie8 .navigation li { margin-right: 5px; margin-bottom: 5px;}
.ie8 .navigation li a {  padding: 6px 8px; font-size: 12px }

.ie8 .portfolio-wrap .container { width: 894px; margin: 0 auto;  }
.ie8 .portfolio-wrap.two-colm .protfolio { width: 280px;height: 248px; margin: 0 10px 20px;}
.ie8 .portfolio-wrap.three-colm .protfolio { width: 205px;height: 248px; margin: 0 10px 20px;}
.ie8 .protfolio { width: 430px; height: 270px; margin: 0 10px 20px;}

.ie8 .single-post  {width: 616px;}

.ie8 .comment li div  { width:85%;  }
.ie8 .comment {width: 616px;}
.ie8 .comment li ul { margin-left: 30px; }
.ie8 .comment li ul li div { width: 82%; }
.ie8 .comment li ul li ul li div { width: 82%; }

.ie8 .comment-form {width: 600px;}
.ie8 .comment-form fieldset {width: 216px;}
.ie8 .comment-form input[type="text"] {  width: 92%; }
.ie8 .comment-form textarea { width: 56%; }

.ie8 .slider-wrapper {width: 97%;}
.ie8 .news-scrol {width: 97%;}
.ie8 .ie8 #map_canvas {width: 97%;}

.ie8 .services-wrap > div {width:219px;float: left; margin: 0 10px 15px;}
.ie8 .client-wrapper > div {width: 297px; float: left; margin: 0 10px 15px;}

.ie8 .recent figure { width: 100%; height: 130px; float: none;}
.ie8 .recent div { width:100%; float: none; margin-top: 15px;}
.ie8 .heading {font-size: 14px; font-weight: bold; }

.ie8 .our-client ul li{  width: 49.5%; float: left;}
.ie8 .our-client ul li img {vertical-align: middle;}

.ie8 .carousel-two .elastislide-horizontal nav span.elastislide-next {top: -247px !important; }
.ie8 .carousel-two .elastislide-horizontal nav span {top: -247px  !important;}

.ie8 .text  {width: 597px; }

.ie8 footer .widget {width: 214px; }
.ie8 .bottom-errow a {margin-right: 15px;}
