/****************************************************************************
( 1024 X 768)
****************************************************************************/
@media only screen and (min-width: 959px) and (max-width: 1024px)
{
    nav {display: block !important;;}
    .responsive {display: none !important;; margin-bottom: 15px;}

    .adver-banner  { width: 97%;}

    .slider .slide .heading-a{ display: none; }
    .slider .slide .heading-b { display: none; }
    .slider .slide .heading-c { display: none; }

    .flexslider {width: 84%; }


    .post {margin: 0 16px 30px; width:261px;}
    .post.last {margin: 0 16px 30px; width:261px;}
    .bottom-section p { width: 198px;}

    

    .big-post {width: 84%; }
    .big-post figure { width: 45%;float-left }
    .big-post > div { width: 53%;margin: 0 -9px 20px;}

    .elastislide-carousel ul li {margin: 0 10px 0px 0px !important;}

    .sidebar {width: 245px;margin: 0 20px 1px -89px;;}
    .tab li p { width: 152px; }
    #accordion li p  { width: 152px; }
    .clients a {width: 113px;}

    .title-bar  {width: 88%; }

    .pagination {width: 549px; margin: 0 auto;}

    .title-bar p{font-size: 15px;}

    .navigation {width: 894px; }
    .navigation li { margin-right: 5px; margin-bottom: 5px;}
    .navigation li a {  padding: 6px 8px; font-size: 12px }

    .portfolio-wrap .container { width: 894px; margin: 0 auto;  }
    .portfolio-wrap.two-colm .protfolio { width: 280px;height: 248px; margin: 0 10px 20px;}
    .portfolio-wrap.three-colm .protfolio { width: 205px;height: 248px; margin: 0 10px 20px;}
    .protfolio { width: 430px; height: 270px; margin: 0 10px 20px;}

    .single-post  {width: 616px;}

    .comment li div  { width:85%;  }
    .comment {width: 616px;}
    .comment li ul { margin-left: 30px; }
    .comment li ul li div { width: 82%; }
    .comment li ul li ul li div { width: 82%; }

    .comment-form {width: 600px;}
    .comment-form fieldset {width: 216px;}
    .comment-form input[type="text"] {  width: 92%; }
    .comment-form textarea { width: 56%; }

    .slider-wrapper {width: 97%;}
    .news-scrol {width: 97%;}
    #map_canvas {width: 97%;}

    .services-wrap > div {width:219px;float: left; margin: 0 10px 15px;}
    .client-wrapper > div {width: 297px; float: left; margin: 0 10px 15px;}

    .recent figure { width: 100%; height: 130px; float: none;}
    .recent div { width:100%; float: none; margin-top: 15px;}
    .heading {font-size: 14px; font-weight: bold; }
	
	.carousel-two .elastislide-horizontal nav span.elastislide-next {top: -247px !important; }
	.carousel-two .elastislide-horizontal nav span {top: -247px  !important;}

    .our-client ul li{  width: 49.5%; float: left;}
    .our-client ul li img {vertical-align: middle;}

    .text  {width: 597px; }

    footer .widget {width: 214px; }
    .bottom-errow a {margin-right: 15px;}
}
/****************************************************************************
(800 X 600) + (768 X 1024)
****************************************************************************/
@media only screen and (min-width: 768px) and (max-width: 959px)
{
    nav {display: block !important;;}
    nav > ul > li > a {padding: 13px 9px;}
    .responsive {display: none !important;; margin-bottom: 15px;}

    .adver-banner  { width: 97%;}

    .slider .slide .heading-a{ display: none; }
    .slider .slide .heading-b { display: none; }
    .slider .slide .heading-c { display: none; }

    .flexslider {width: 84%; }


    .post {margin: 0 6px 30px; width:217px;}
    .post.last {margin: 0 6px 30px; width:217px;}
    .bottom-section p { width: 154px;}

    .small-post {width: 198px; margin: 0 8px 20px; }
    .small-post.last {width:198px; margin: 0 8px 20px;  }

    .small-post figure {width: 100%;}
    .small-post > div { width:100%;}

    .big-post {width: 84%; }
    .big-post figure { width: 100%;margin: 0 8px 20px; }
    .big-post > div { width: 100%;margin: 0 -9px 20px;}

    .elastislide-carousel ul li {margin: 0 4px 0px 0px !important;}

    .sidebar {width: 245px;margin: 0 20px 1px -89px;;}
    .tab li p { width: 152px; }
    #accordion li p  { width: 152px; }
    .clients a {width: 113px;}

    .title-bar  {width: 85%; }

    .pagination {width: 549px; margin: 0 auto;}

    .title-bar p{font-size: 15px;}

    .navigation {width: 700px; }
    .navigation li { margin-right: 5px; margin-bottom: 5px;}
    .navigation li a {  padding: 6px 8px; font-size: 12px }

    .portfolio-wrap .container { width: 685px; margin: 0 auto;  }
    .portfolio-wrap.two-colm .protfolio { width: 215px;height: 248px; margin: 0 10px 20px;}
    .portfolio-wrap.three-colm .protfolio { width: 215px;height: 248px; margin: 0 10px 20px;}
    .protfolio { width: 332px; height: 270px; margin: 0 10px 20px;}

    .single-post  {width: 456px;}

    .comment li div  { width:79%;  }
    .comment {width: 456px;}
    .comment li ul { margin-left: 30px; }
    .comment li ul li div { width: 77%; }
    .comment li ul li ul li div { width: 75%; }

    .comment-form {width: 456px;}
    .comment-form fieldset {width: 169px;}
    .comment-form input[type="text"] {  width: 92%; }
    .comment-form textarea { width: 53%; }

    .slider-wrapper {width: 97%;}
    .news-scrol {width: 97%;}
    #map_canvas {width: 97%;}

    .services-wrap > div {width: 165px;float: left; margin: 0 10px 15px;}
    .client-wrapper > div {width: 227px; float: left; margin: 0 10px 15px;}

    .recent figure { width: 100%; height: 130px; float: none;}
    .recent div { width:100%; float: none; margin-top: 15px;}
    .heading {font-size: 12.4px; font-weight: bold; }

    .our-client ul li{  width: 100%; float: none;}
    .our-client ul li img {vertical-align: middle;}
	
	.carousel-two .elastislide-horizontal nav span.elastislide-next {top: -247px !important; }
	.carousel-two  .elastislide-horizontal nav span {top: -247px  !important;}

    .text  {width: 456px; }
	.elastislide-horizontal nav span {right: 53px; top: -184px;}
	.elastislide-horizontal nav span.elastislide-next {right: 14px;top: -184px;}
	.bottom-errow a { margin-right:10px; }
}


/****************************************************************************
(768)
****************************************************************************/
@media only screen and ( max-width: 768px )
{
    nav {display: block !important;;}
    nav > ul > li > a {padding: 13px 9px;}
    .responsive {display: none !important;; margin-bottom: 15px;}

    .adver-banner  { width: 97%;}

    .slider .slide .heading-a{ display: none; }
    .slider .slide .heading-b { display: none; }
    .slider .slide .heading-c { display: none; }

    .flexslider {width: 84%; }


    .post {margin: 0 6px 30px; width:217px;}
    .post.last {margin: 0 6px 30px; width:217px;}
    .bottom-section p { width: 154px;}

    .small-post {width: 198px; margin: 0 8px 20px; }
    .small-post.last {width:198px; margin: 0 8px 20px;  }

    .small-post figure {width: 100%;}
    .small-post > div { width:100%;}

    .big-post {width: 84%; }
    .big-post figure { width: 100%;margin: 0 8px 20px; }
    .big-post > div { width: 100%;margin: 0 -9px 20px;}

    .elastislide-carousel ul li {margin: 0 4px 0px 0px !important;}

    .sidebar {width: 245px;margin: 0 20px 1px -89px;;}
    .tab li p { width: 152px; }
    #accordion li p  { width: 152px; }
    .clients a {width: 113px;}

    .title-bar  {width: 85%; }

    .pagination {width: 549px; margin: 0 auto;}

    .title-bar p{font-size: 15px;}

    .navigation {width: 700px; }
    .navigation li { margin-right: 5px; margin-bottom: 5px;}
    .navigation li a {  padding: 6px 8px; font-size: 12px }

    .portfolio-wrap .container { width: 685px; margin: 0 auto;  }
    .portfolio-wrap.two-colm .protfolio { width: 215px;height: 248px; margin: 0 10px 20px;}
    .portfolio-wrap.three-colm .protfolio { width: 215px;height: 248px; margin: 0 10px 20px;}
    .protfolio { width: 332px; height: 270px; margin: 0 10px 20px;}

    .single-post  {width: 456px;}

    .comment li div  { width:79%;  }
    .comment {width: 456px;}
    .comment li ul { margin-left: 30px; }
    .comment li ul li div { width: 77%; }
    .comment li ul li ul li div { width: 75%; }

    .comment-form {width: 456px;}
    .comment-form fieldset {width: 169px;}
    .comment-form input[type="text"] {  width: 92%; }
    .comment-form textarea { width: 53%; }

    .slider-wrapper {width: 97%;}
    .news-scrol {width: 97%;}
    #map_canvas {width: 97%;}

    .services-wrap > div {width: 165px;float: left; margin: 0 10px 15px;}
    .client-wrapper > div {width: 227px; float: left; margin: 0 10px 15px;}

    .recent figure { width: 100%; height: 130px; float: none;}
    .recent div { width:100%; float: none; margin-top: 15px;}
    .heading {font-size: 10px; font-weight: bold; }

    .our-client ul li{  width: 100%; float: none;}
    .our-client ul li img {vertical-align: middle;}

    .text  {width: 456px; }
	
	carousel-two .elastislide-horizontal nav span.elastislide-next {top: -247px !important; }
	.carousel-two .elastislide-horizontal nav span {top: -247px  !important;}
	
	.elastislide-horizontal nav span {right: 53px; top: -184px;}
	.elastislide-horizontal nav span.elastislide-next {right: 14px;top: -184px;}
	.bottom-errow a { margin-right:10px; }

}


/****************************************************************************
(600 X 800)
****************************************************************************/
@media only screen and (min-width: 481px) and (max-width: 767px)
{
    nav {display: none !important;;}
    .responsive {display: block !important;; margin-bottom: 15px;}

    .logo { line-height: 73px; width: 68%; height: 54px; margin:  0 auto; }
    .adver-banner  { line-height: 108px; width: 89%; height: 65px; margin:  0 auto 34px;; }
    .adver-banner a img {height: 100%;}

    .slider .slide .heading-a{ display: none; }
    .slider .slide .heading-b { display: none; }
    .slider .slide .heading-c { display: none; }
    .flexslider {width: 100%; }

    .post {margin: 0 6px 30px; }
    .post.last {margin: 0 6px 30px;}
    .bottom-section p { width: 213px;}

    .small-post {width: 265px; margin: 0 8px 20px; }
    .small-post.last {width: 265px; margin: 0 8px 20px;  }

    .small-post figure {width: 100px;}
    .small-post > div { width: 155px;}

    .big-post {width: 100%; }
    .big-post figure { width: 265px;margin: 0 8px 20px; }
    .big-post > div { width: 265px;margin: 0 8px 20px;}

    .elastislide-carousel ul li {margin: 0 4px 0px 0px !important;}
    .sidebar {width: 267px; margin: 0 20px 20px;}
    .tab li p { width: 165px; }
    #accordion li p  { width: 164px; }
    .clients a {width: 122px;}

    .pagination {width: 549px; margin: 0 auto;}

    .navigation {width: 540px; margin: 0 auto 15px;}
    .navigation li { margin-right: 5px; margin-bottom: 5px;}
    .navigation li a {  padding: 6px 8px; font-size: 12px }

    .portfolio-wrap .container { width: 550px; margin: 0 auto;  }
    .portfolio-wrap.two-colm .protfolio { width: 250px;height: 248px; margin: 0 10px 20px;}
    .portfolio-wrap.three-colm .protfolio { width: 250px;height: 248px; margin: 0 10px 20px;}
    .protfolio { width: 250px; height: 270px; margin: 0 10px 20px;}

    .single-post  {width: 540px; margin: 0 auto 15px;}


    .comment li div  { width:82%;  }
    .comment {width: 540px; margin: 0 auto 15px;}
    .comment li ul { margin-left: 30px; }
    .comment li ul li div { width: 80%; }
    .comment li ul li ul li div { width: 78%; }

    .comment-form {width: 540px; margin: 0 auto 20px;}
    .comment-form fieldset {width: 240px;}
    .comment-form input[type="text"] {  width: 92%; }
    .comment-form textarea { width: 48%; }

    .news-scrol {width: 100%;}
    .slider-wrapper {width: 100%;}
    .services-wrap > div {width: 121px;float: left; margin: 0 10px 15px;}
    .client-wrapper > div {width: 261px; float: left; margin: 0 10px 15px;}

    .recent figure { width: 100%; height: 130px; float: none;}
    .recent div { width:100%; float: none; margin-top: 15px;}

    .our-client ul li{  width: 100%; float: none;}
    .our-client ul li img {vertical-align: middle;}

    .heading {font-size: 16px; font-weight: normal; }
    #map_canvas {width: 100%;}

    .text  {width: 539px; margin: 0 auto 15px;}

    footer .widget {width: 260px; margin: 0 10px 15px; float: left}

    .footer-bottom { height: 100px; line-height: 30px; text-align: center }
    .footer-bottom  p {  line-height: 47px;}

    .bottom-errow {text-align: right;}
    .bottom-errow a {float: none; margin: 0 auto; }
	
	.elastislide-horizontal nav span {right: 53px; top: -252px;}
	.elastislide-horizontal nav span.elastislide-next {right: 14px;top: -252px;}

}


/****************************************************************************
{320 X 480} + (480 X 320)
****************************************************************************/
@media only screen and (max-width: 480px)
{

    nav {display: none !important;;}
    .responsive {display: block !important;; margin-bottom: 15px;}

    .logo { line-height: 65px; width: 89%; height: 33px; margin:  0 auto; }

    .adver-banner  { line-height: 108px; width: 89%; height: 65px; margin:  0 auto 34px;; }
    .adver-banner a img {height: 100%;}

    .slider .slide .heading-a{ display: none; }
    .slider .slide .heading-b { display: none; }
    .slider .slide .heading-c { display: none; }
    .flexslider {width: 100%; }
    .flex-caption h3 {display: none !important;}
    .post {margin: 0 auto 30px; float: none;}
    .post.last {margin: 0 auto 30px; float: none;}
    .bottom-section p { width: 213px;}

    .small-post {width: 267px; margin: 0 auto 20px; float: none;}
    .small-post.last {width: 267px; margin: 0 auto 20px; float: none;}

    .small-post figure { width: 100%; float: none }
    .small-post > div { float: none; width: 100%;}

    .big-post {width: 100%; }
    .big-post figure { width: 267px;margin: 0 auto 15px; float: none }
    .big-post > div { width: 267px;margin: 0 auto 15px; float: none }

    .elastislide-carousel ul li {margin: 0 4px 0px 0px !important;}

    .sidebar {width: 267px; margin: 0 auto 20px;}
    .tab li p { width: 165px; }
    #accordion li p  { width: 164px; }
    .clients a {width: 122px;}
    .pagination {width: 290px; margin: 0 auto;}

    .title-bar  {height: 65px;width: 100%;}
    .title-bar p{font-size: 13px; line-height: 20px;}

    .navigation {width: 290px; margin: 0 auto 15px;}
    .navigation li { margin-right: 5px; margin-bottom: 5px;}
    .navigation li a {  padding: 6px 8px; font-size: 12px }

    .portfolio-wrap .container { width: 290px; margin: 0 auto;  }
    .portfolio-wrap.two-colm .protfolio { width: 290px;height: 248px; margin: 0 auto 28px; }
    .portfolio-wrap.three-colm .protfolio { width: 290px;height: 248px; margin: 0 auto 28px; }
    .protfolio { width: 290px; height: 270px;margin: 0 auto 28px}

    .single-post  {width: 290px; margin: 0 auto 15px;}


    .comment li div  { width: 66%;  }
    .comment {width: 290px; margin: 0 auto 15px;}
    .comment li ul { margin-left: 0px; }
    .comment li ul li div { width: 66%; }
    .comment li ul li ul li div { width: 66%; }

    .comment-form {width: 290px; margin: 0 auto 20px;}
    .comment-form fieldset {width: 290px; float: none;}
    .comment-form input[type="text"] {  width: 92%; }
    .comment-form textarea { width: 92%; }

    .news-scrol {width: 100%;}
    .slider-wrapper {width: 100%;}
    #map_canvas {width: 100%;}
    .services-wrap > div {width: 260px; margin: 0 auto 15px; float:none;}
    .client-wrapper > div {width: 275px; margin: 0 auto 15px; float:none;}
    .heading {font-size: 18px; font-weight: normal; }
    .recent figure { width: 100%; height: 130px; float: none;}
    .recent div { width:100%; float: none; margin-top: 15px;}

    .our-client ul li{  width: 100%; float: none;}
    .our-client ul li img {vertical-align: middle;}

    .text  {width: 275px; margin: 0 auto 15px;}

    footer .widget {width: 280px; margin: 0 auto 20px;}

    .footer-bottom { height: 106px; line-height: 30px; text-align: center }
    .footer-bottom  p {  line-height: 47px !important;}

    .bottom-errow {text-align: right;}
    .bottom-errow a {float: none; margin: 0 auto; }
	
	.elastislide-horizontal nav span {right: 53px; top: -252px;}
	.elastislide-horizontal nav span.elastislide-next {right: 14px;top: -252px;}
}